<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Itens</title>
    <link rel="stylesheet" href="/css/catalogo.css" type="text/css">
</head>
<body>

    <header>
        <nav>
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/152/152534.png" alt=""></a>
            
            <%if (idPedido != 0){%>
                <a href="/carrinho"><img src="https://cdn-icons-png.flaticon.com/512/5087/5087784.png" alt="Carrinho" id="img-carrinho"></a>
            <%}%>
        </nav>
    </header>
    
    <main>
        <h1>Catálogo de Itens</h1>

        

        <table>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th></th>
            </tr>

            <tr>
                <%for(let i = 0; i < produtos.length; i++){%>
                    <tr>
                        <td><%=produtos[i].descricao%></td>
                        <td>R$ <%=produtos[i].preco%></td>
                        <td>
                            <button><a href="/produto/adicionarCarrinho/<%=produtos[i].id%>">Adicionar no Carrinho</a></button>
                        </td>
                    </tr>
                <%}%>
            </tr>
            
        </table>
    </main>
    
    
</body>
</html>