<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/alteracaoCadastro.css" type="text/css">
</head>
<body>

    <header>
        <nav>
            <a href="/alteracaoCadastro/<%=idUsuario%>"><img src="https://cdn-icons-png.flaticon.com/512/152/152534.png" alt="Catalogo"></a>
        </nav>
    </header>

    <main>
        <form action="/usuario/alterarSenha" method="post">
 
            <div id="div-inputs">
                <input type="password" name="senha" id="input-senha" placeholder="Senha">
                <input type="password" name="confirmaSenha" id="input-confirmaSenha" placeholder="Confirmar Senha">
            </div>

            <%if(erros){%>
                <ul>
                    <%for(let i = 0; i < erros.length; i++){%>
                        <li><%=erros[i].msg%></li>
                    <%}%>
                </ul>
            <%}%>   
    
            <input type="hidden" name="idUsuario" value="<%=idUsuario%>">
        
            <button type="submit">Alterar Senha</button>
        </form>
    </main>
</body>
</html>