<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>
    
    <main>

        <form action="/usuario/logar" method="post">

            <div id="div-inputs">
                <input type="text" name="usuario" id="input-usuario" value="<%=usuario.usuario%>" placeholder="E-mail">
                <input type="password" name="senha" id="input-senha" placeholder="Senha">
            </div>
        
            <%if(erros){%>
                <ul>
                    <%for(let i = 0; i < erros.length; i++){%>
                        <li><%=erros[i].msg%></li>
                    <%}%>
                </ul>
            <%}%>

            <div id="info-cad">
                <p>Não possui um cadastro?</p>
                <a href="/cadastro">Cadastrar-se</a>
            </div>
            
            

            <button type="submit">Entrar</button>

        </form>
    </main>
    
</body>
</html>