<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Pedidos</title>
</head>
<body>
    
    
    <h1>Histórico de Pedidos</h1>

    <table>
        <tr>
            <th>Nº do Pedido</th>
            <th>Usuário</th>
            <th>Status</th>
            <th>Forma de Pagamento</th>
        </tr>

        <tr>
            <%for(let i = 0; i < pedido.length; i++){%>
                <tr>
                    <td><%=pedido[i].id%></td>
                    <td><%=pedido[i].usuario%></td>
                    <td><%=pedido[i].status%></td>
                    <td><%=pedido[i].formaPagamento%></td>
                </tr>
            <%}%>
        </tr>
    </table>
</body>
</html>