*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 78, 78);
    height: 35px;
}

img{
    filter: invert(1);
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

img:hover{
    background-color: #2bf8f8;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px 42px;
    background-color: #f5f5f5;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 5px gray);
}

input{
    outline: none;
    border-style: none none solid none;
    border-width: 1px;
    width: 300px;
    height: 30px;  
}

input:hover{
    opacity: 80%;
}

form div{
    display: flex;
    flex-direction: column;
}

#div-inputs{
    gap: 8px;
}

#info-cad{
    margin-top: 10px;
}

button{
    font-size: small;
    margin-top: 10px;
    border: none;
    width: 250px;
    cursor: pointer;
    padding: 6px;
    text-transform: uppercase;
    background-color: #615b5b;
    color: white;
}

main a{
    font-size: small;
    margin-top: 10px;
    border: none;
    width: 250px;
    cursor: pointer;
    padding: 6px;
    text-transform: uppercase;
    background-color: #615b5b;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
}

li{
    list-style: none;
    text-decoration: underline;
    text-align: center;
    justify-content: center;
    color: #ff2600;
}

ul{
    animation: animationErros 1s linear;
    margin-top: 10px;
}

@keyframes animationErros{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

