*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 78, 78);
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li{
    list-style: none;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

li:hover{
    background-color: #d40707;
}

a{ 
    text-decoration: none;
    color: white;
    font-size: large;
    text-align: center;
    justify-content: center;
}

