<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(tipoUsuario == 1){%>
        <%-include('../../public/menuUsuario.html')%>
    <%}else if(tipoUsuario == 2){%>
        <%-include('../../public/menuAdmin.html')%>
    <%}%>
</body>
</html>